.signup{
    display: flex;

    justify-content: center;
}
.signup img{
    width: 100%;
    height: 100vh;
}
.signup-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    height: 70vh;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.06);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px) saturate(140%);
    -webkit-backdrop-filter: blur(8px) saturate(140%);
}
.signup-box  .logo img{
     width: 340px;
     height: 180px;
}
.signup-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-box form input{
    width: 90%;
    height: 60px;
    margin: 10px ;
    padding:10px;
    border: none;
    border-radius: 5px;
    /* outline: none; */
    outline-color: aqua;
    background-color: rgba(8, 190, 206, 0.1);
    color: #fff;
    font-size: 22px;
}

.signup-box form input::placeholder{
    color: #fff;
    font-size: 20px;
}
.signup-box form button{
    width: 95%;
    height: 60px;
    margin: 30px ;
    padding:10px;
    border: none;
    background: linear-gradient(90deg, #41D1FF 0%, #BD34FE 100%);
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.signup-test{
    color: #fff;
    text-align: center;
    /* margin-top: -20px; */
    font-size: 24px;
}
.signup-test .inner-span{
    color: rgb(232, 171, 3);
    cursor: pointer;
    font-size: 24px;
    
}