.cus-login {
    width: 100%;
    height: 100vh;
}

.cus-login img {
    height: 100vh;
    width: 100vw;
}

.cus-login .login-box {
    height: 60vh;
    width: 90vw;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 15px;
    backdrop-filter: blur(8px) saturate(140%);
    /* -webkit-backdrop-filter: blur(8px) saturate(140%); */

}

.cus-login .login-box .rc-logo {
    width: 100%;
    height: 10vh;
}

.cus-login .login-box .rc-logo img {
    height: 10vh;
}

.login-box .form-login {
    padding: 30px;
    margin-top: 30px;
    height: 50vh;
    display: flex;
    width: 90vw;
}

.login-box .form-login input {
    width: 80vw;
    height: 8vh;
    border: 2px solid rgb(245, 7, 253);
    margin-top: 10px;
    outline-color: aqua;

}

.login-box .form-login span {
    font-size: 20px;
    color: white;
    padding: 10px;

}

.login-box .form-login input::placeholder {
    color: white;
    font-size: 20px;
    padding: 15px;
}

.login-box form button {
    background: linear-gradient(90deg, #41D1FF 0%, #BD34FE 100%);
    width: 80vw;
    height: 8vh;
    color: antiquewhite;
    font-size: 20px;
    margin-top: 30px;
}