.cap-signup {
    width: 100vw;
    height: 100vh;
}

.cap-signup img {
    height: 100vh;
    width: 100vw;
}

.cap-signup-box {
    width: 90vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: aqua; */
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.cap-signup-box h1 {
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    padding: 20px;
}

.cap-signup-box h2 {
    text-align: center;
    color: aliceblue;
    font-size: 25px;

}

.cap-signup-form {
    margin-top: 5%;
}

.cap-signup-form form input {
    display: flex;
    color: aliceblue;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid gold;
    border-radius: 10px;
    width: 90vw;
    outline-color: aqua;
}

.cap-signup-form form input::placeholder {
    color: aliceblue;
    font-size: 20px;
}

.cap-signup-form form button {
    color: black;
    background-color: gold;
    padding: 20px;
    border-radius: 10px;
    width: 90vw;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

.cap-signup-form .signup-test {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

.cap-signup-form .signup-test .navigate {
    color: gold;
    cursor: pointer;
}