.cap-login {
    width: 100vw;
    height: 100vh;
}

.cap-login img {
    height: 100vh;
    width: 100vw;
}

.cap-login-box {
    /* background-color: aqua; */
    width: 90vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.cap-login-from {
    text-align: center;
}

.cap-login-box .cap-login-from h1 {
    color: aliceblue;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.cap-login-box .cap-login-from form input {
    color: white;
    display: flex;
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin-top: 15px;
    width: 90vw;
}

.cap-login-from form input::placeholder {
    color: aliceblue;
    font-size: 20px;
}

.cap-login-from form span {
    font-size: 30px;
    color: goldenrod;
}

.cap-login-from form button {
    width: 90vw;
    background-color: goldenrod;
    height: 8vh;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 15px;
}

.cap-login-from .cap-login-test span {
    color: antiquewhite;
    font-size: 25px;
}

.cap-login-from .cap-login-test .navigate {
    color: goldenrod;
    cursor: pointer;
}